<!DOCTYPE html>
<html lang=”en” prefix=”og: http://ogp.me/ns#">
  <head>
    <title>Sonar</title>
    <%# <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>
    <meta property=”og:title” content="Sonar" />

<meta propert=”og:author” content="Canberk Varli" />

<meta property="og:description"  content="Sonar is a web page, clone of SoundCloud built with Ruby on Rails, ReactJS, and Redux. On Sonar, artists are able to upload their tracks for the world to stream, share, and like." />

<meta property="og:image" content="<%= image_url('homepage2.png')%>"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
